@import "tailwindcss";

@layer base {
  .base {
    @apply flex flex-row max-w-screen max-h-screen overflow-y-clip font-[nunito-sans];
  }

  .dark-mode {
    background-color: rgb(30, 30, 30);
    color: white;
  }

  .body {
    @apply flex-[90%] min-h-screen max-h-screen overflow-y-auto p-6 pt-12
    sm:flex-[85%] sm:p-8 sm:pt-16
    md:flex-[75%] md:p-12 md:pt-20;
  }

  .inner-body {
    @apply w-[100%] sm:w-[95%] md:w-[90%] lg:w-[85%] xl:w-[80%];
  }

  @font-face {
    font-family: "nunito-sans";
    src: url("./assets/font/nunito_sans.ttf");
    font-style: normal;
  }

  @font-face {
    font-family: "nunito-sans";
    src: url("./assets/font/nunito_sans_italic.ttf");
    font-style: italic;
  }
}

@layer components {
  .modal {
    @apply fixed top-[45%] left-[50%] -translate-[50%] w-[70%] max-w-[70%] max-h-[60%] overflow-y-auto rounded-lg transition
    sm:w-[50%] sm:max-w-[50%] sm:max-h-[60%]
    md:w-[40%] md:max-w-[40%] md:max-h-[55%]
    lg:w-[30%] lg:max-w-[30%] lg:max-h-[50%];
  }

  .sidebar {
    @apply flex-[10%] flex-shrink-0 px-2 bg-green-900 max-h-[95vh] mt-[5vh] rounded-tr-2xl
    sm:flex-[15%] sm:px-4
    md:flex-[25%] md:px-6 md:mt-[7.5vh] md:max-h-[92.5vh] md:rounded-tr-2xl
    lg:px-8;
  }

  .quick-menu {
    @apply fixed right-0 bottom-0 p-2 pb-1 scale-[80%] translate-1.25 bg-green-900 rounded-tl-md
    sm:scale-[90%] sm:translate-0.75
    md:scale-[100%] md:translate-0;
  }

  .bar-item-idle {
    @apply block w-full py-1 px-2 mb-1.5 text-center rounded-md text-white transition hover:bg-green-600 active:bg-green-500
    sm:w-full sm:px-2 sm:mb-1 sm:text-left;
  }

  .bar-item-active {
    @apply block w-full py-1 px-2 mb-1.5 text-center rounded-md text-white transition hover:bg-green-600 active:bg-green-500 bg-green-800
    sm:w-full sm:px-2 sm:mb-1 sm:text-left;
  }

  .input-field {
    @apply p-2 my-1 rounded-md bg-gray-300 border-b-1 border-green-500 focus:border-1 focus:outline-none;
  }

  .btn-primary {
    @apply px-4 py-2 rounded-md transition 
  text-white bg-green-800 hover:bg-green-600 active:bg-green-500;
  }

  .btn-primary-alert {
    @apply px-4 py-2 rounded-md transition 
  text-white bg-red-600 hover:bg-red-700 active:bg-red-500;
  }

  .btn-secondary {
    @apply px-4 py-2 rounded-md transition 
  text-green-600 bg-none hover:bg-gray-200 active:bg-gray-300;
  }

  .btn-secondary-alert {
    @apply px-4 py-2 rounded-md transition 
  text-red-600 bg-none hover:text-white hover:bg-red-600 active:bg-red-500;
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(175, 175, 175, 0.75) transparent;
    scrollbar-arrow-color: transparent;
  }

  .no-scrollbar {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }

  .scroll-shadow {
    @apply w-[77.5%] h-4 bg-green-900/80 absolute
    sm:w-[85%]
    md:w-[82.5%]
    lg:w-[80%];
  }

  .shadow-top {
    box-shadow: 0 -5px 8px color-mix(in oklab, var(--color-green-900)
          /* oklch(26.6% 0.065 152.934) = #032e15 */ 80%, transparent);
  }

  .shadow-bottom {
    box-shadow: 0 5px 8px
      color-mix(
        in oklab,
        var(--color-green-900) /* oklch(26.6% 0.065 152.934) = #032e15 */ 80%,
        transparent
      );
  }
}

@utility in-slide-up {
  animation: in-slide-up 1s ease forwards;
}

@utility in-slide-up-fast {
  animation: in-slide-up 0.5s ease forwards;
}

@utility in-slide-up-realfast {
  animation: in-slide-up 0.25s ease forwards;
}

@utility in-slide-down {
  animation: in-slide-down 1s ease forwards;
}

@utility in-slide-down-fast {
  animation: in-slide-down 0.5s ease forwards;
}

@utility in-slide-down-realfast {
  animation: in-slide-down 0.25s ease forwards;
}

@utility out-slide-down {
  animation: out-slide-down 1s ease forwards;
}

@utility out-slide-down-fast {
  animation: out-slide-down 0.5s ease forwards;
}

@utility out-slide-down-realfast {
  animation: out-slide-down 0.25s ease forwards;
}

@utility in-slide-right {
  animation: in-slide-right 1s ease forwards;
}

@utility in-slide-right-slow {
  animation: in-slide-right 1.5s ease forwards;
}

@utility in-slide-left {
  animation: in-slide-left 1s ease forwards;
}

@utility in-slide-left-fast {
  animation: in-slide-left 0.5s ease forwards;
}

@keyframes in-slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes in-slide-down {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes out-slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes in-slide-right {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes in-slide-left {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
